body {
  background-color: cornsilk;
}
#message-container {
  height: 80vh;
  margin-left: 5vh;
  margin-right: 5vh;
  background-color: blanchedalmond;
  margin-top: 5vh;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-y: scroll;
}

#send-container {
  margin-top: 10px;
  text-align: center;
}

input {
  padding-top: 0;
  width: 80%;
  height: 25px;
  border: 3px solid royalblue;
}

button {
  padding-top: 0;
  background-color: royalblue;
  color: white;
  height: 30px;
  margin-top: 10px;
  width: 100px;
}
.own-message{
  background-color: gold;
  margin:5px;
}
.other-message{
  margin:5px;
}
